<div>
  <span>title</span><input type="text" name="title" [(ngModel)]="title" />
  <span>body</span><input type="text" name="title" [(ngModel)]="body" />
  <button (click)="newPost()">Add Post</button>
</div>
<ul>
  <li *ngFor="let post of posts$ | async">
    {{ post.title }}
    <button (click)="getCommments(post.id)">Show Comments</button>
    <ul *ngIf="postComments[post.id] | async as comments">
      <li *ngFor="let comment of comments">
        {{ comment.name }}
      </li>
    </ul>
  </li>
</ul>

<div *ngFor="let photo of photos$ | async">
  <img [src]="photo.thumbnailUrl" />
</div>
